.Login_form{
  
  max-width: 300px;
  border-radius: 20px;
  border: rgb(211, 211, 211);
  border-width: 2px;
  border-style: solid;
  padding: .5%;

  background-color: rgb(247, 247, 247);

  padding: 1%;
  margin-left: 80%;
  margin-top: 5%;
  margin-right: 2%;

  position: absolute;
 
  z-index: 200;
}